name: CI

on:
  push:
  pull_request:
  schedule:
    - cron:  '0 0 1 * *'

jobs:
  Linux:
    name: Linux

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-22.04-arm, ubuntu-24.04-arm]
        cxx: [g++, clang++]
        exclude:
        - os: ubuntu-22.04-arm
          cxx: clang++
      fail-fast: false
    env:
      CXX: ${{ matrix.cxx }}
    steps:
    - uses: actions/checkout@v6
    - name: Install
      run: |
        sudo apt-get update -y
        sudo apt-get install -y cppcheck ocl-icd-opencl-dev pocl-opencl-icd
        $CXX --version
    - name: Script
      run: |
        make -O -j "$(nproc)"
        cd build-release
        rm -f -- *.o
        ./prpll -h
    - uses: actions/upload-artifact@v6
      if: always()
      with:
        name: ${{ matrix.os }}_${{ endsWith(matrix.os, '-arm') && 'arm' || 'x86' }}_${{ matrix.cxx }}_prpll
        path: ${{ github.workspace }}
    - name: Cppcheck
      run: cppcheck --enable=all --force .
    - name: Clang-Tidy
      if: ${{ matrix.cxx == 'clang++' }}
      run: clang-tidy -checks='bugprone-*,-bugprone-reserved-identifier,cert-*,-cert-dcl37-c,-cert-dcl51-cpp,clang-analyzer-*,concurrency-*,misc-*,-misc-no-recursion,modernize-*,-modernize-use-trailing-return-type,performance-*,portability-*,readability-const-return-type,readability-container-*,readability-duplicate-include,readability-else-after-return,readability-make-member-function-cons,readability-non-const-parameter,readability-redundant-*,readability-simplify-*,readability-string-compare,readability-use-*' -header-filter='.*' src/*.cpp -- -Wall -O3 -std=gnu++20
      continue-on-error: true
    - name: ShellCheck
      run: shopt -s globstar; shellcheck -o avoid-nullary-conditions,check-extra-masked-returns,check-set-e-suppressed,deprecate-which,quote-safe-variables,require-double-brackets -s bash **/*.sh
      continue-on-error: true

  Windows:
    name: Windows

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest] # windows-11-arm
        cxx: [g++, clang++]
      fail-fast: false
    env:
      CXX: ${{ matrix.cxx }}
      PACKAGE_PREFIX: mingw-w64-${{ endsWith(matrix.os, '-arm') && 'clang-aarch64' || 'x86_64' }}-
    steps:
    - uses: actions/checkout@v6
    - name: Before Install
      run: |
        echo "C:\msys64\mingw64\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        echo "C:\msys64\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        echo "CPPFLAGS=-IC:\msys64\mingw64\include" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        echo "LIBPATH=-LC:\msys64\mingw64\lib" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
    - name: Install
      run: |
        pacman -S --noconfirm "${env:PACKAGE_PREFIX}opencl-icd"
        & $env:CXX --version
    - name: Install Clang
      if: ${{ matrix.cxx == 'clang++' }}
      run: |
        pacman -S --noconfirm mingw-w64-x86_64-clang
        & $env:CXX --version
    - name: Script
      run: |
        make -O -j $env:NUMBER_OF_PROCESSORS
        cd build-release
        rm *.o
        .\prpll.exe -h
    - uses: actions/upload-artifact@v6
      if: always()
      with:
        name: win_${{ endsWith(matrix.os, '-arm') && 'arm' || 'x86' }}_${{ matrix.cxx }}_prpll
        path: ${{ github.workspace }}

  macOS:
    name: macOS

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-15-intel, macos-latest]
      fail-fast: false
    env:
      CXX: g++-15
    steps:
    - uses: actions/checkout@v6
    - name: Install
      run: |
        $CXX --version
    - name: Script
      run: |
        make -j "$(sysctl -n hw.ncpu)"
        cd build-release
        rm -f -- *.o
        ./prpll -h
    - uses: actions/upload-artifact@v6
      if: always()
      with:
        name: macos_${{ endsWith(matrix.os, '-intel') && 'x86' || 'arm' }}_prpll
        path: ${{ github.workspace }}
